/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #634b35;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-color: #f9ead4;
    padding: 50px 20px;
    text-align: center;
}

.books {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.book {
    width: 250px;
    margin: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.book:hover {
    transform: translateY(-5px);
}

.book img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.book h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
}

.book p {
    margin-bottom: 10px;
    color: #634b35;
    font-weight: bold;
}

footer {
    background-color: #634b35;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Gaya khusus untuk formulir */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    color: #3b3838;
    margin-bottom: 10px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #3b3838;
}

form input[type="text"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%233b3838" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M15.293 6.707l-5 5a1 1 0 0 1-1.414 0l-5-5A1 1 0 0 1 5.293 5.293L10 9.586l4.707-4.293a1 1 0 1 1 1.414 1.414z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

/* Pesan error */
.error {
    color: #ff0000;
    margin-top: 5px;
    font-size: 14px;
}

/* Pesan sukses */
.success {
    color: #008000;
    margin-top: 5px;
    font-size: 14px;
}
